<!DOCTYPE html>
{% extends "master.html" %}
<html lang="en">
<head>
    {% block title %}
        Fruits
    {% endblock %}
</head>
<body>
{% block content %}

    {% comment "this was the original welcome message" %}
    <h1>Welcome ladies and gentlemen</h1>
    {% endcomment %}

    {# ... #}

    {% include 'footer.html' with fruits=fruits %}

    {% comment %}
    <ul>
  {% for x in fruits %}
    <li
      {% if forloop.last %}
        style='background-color:lightblue;'
      {% endif %}
    >{{ x }}</li>
  {% endfor %}
</ul>
    {% endcomment %}

    <h1>PEPE</h1>
{% endblock %}

</body>
</html>